@model IEnumerable<Web.Models.Reserva>

@{
    ViewData["Title"] = "Index";
}

<h1>RESERVAS</h1>
<p>Aquí podrás ver las reservas de canchas creadas junto con datos de la persona que la solicitó.</p>
<p>Si tienes una nueva persona que desea reservar, utiliza el botón de 'Nueva Reserva'.</p>

<p>
    <a asp-action="Create" class="btn btn-primary">Nueva Reserva</a>
    &nbsp;&nbsp;
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cancha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cancha.Nombre)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Persona.Nombre, item.Persona.Apellido)
            <td>
                @Html.DisplayFor(modelItem => item.Estado.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
