@model IEnumerable<Web.Models.Cancha>

@{
    ViewData["Title"] = "Index";
}

<h1>CANCHAS</h1>
<p>Aquí podrás ver los datos de las canchas.</p>
<p>Si tienes nuevas canchas para agregar, usa el botón de 'Nueva Cancha'.</p>
<p>También existe la alternativa para importar todas tus canchas y sus precios desde un Excel.</p>
<p>Utiliza el botón de 'Importar'.</p>
<div class="row">
    <div class="col-sm">
        <a asp-action="Create" class="btn btn-primary">Nueva Cancha</a>
        &nbsp;&nbsp;
        <a asp-action="ImportarCanchas" class="btn btn-success">Importar</a>
    </div>
</div>
<br/>
<table class="table">
    <thead>
        <tr>
            <th>
               @*  @Html.DisplayNameFor(model => model.Nombre) *@
               Nombre
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Precio) *@
                Precio
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>

        function mostrarDatos() {
            const input = document.getElementById("inputExcel")

            const formData = new FormData()

            formData.append("ArchivoExcel", input.files[0])

            fetch("/Canchas/MostrarDatos",
                {
                    method: "POST",
                    body: formData
                })
                .then((response) => { return response.json() })
                .then((dataJson) => {
                    dataJson.forEach((item) => {
                        $("#tbData tbody").append(
                            $("<tr>").append(
                                $("<td>").text(item.Nombre),
                                $("<td>").text(item.Precio)
                            )
                        )
                    })
                })
        }


        function enviarDatos() {
            const input = document.getElementById("inputExcel")

            const formData = new FormData()

            formData.append("ArchivoExcel", input.files[0])

            fetch("Canchas/EnviarDatos", {
                method: "POST",
                body: formData
            })
                .then((response) => { return response.json() })
                .then((dataJson) => {
                    alert(dataJson.mensaje);
                })
        }

    </script>
}