@model IEnumerable<Web.Models.Persona>

@{
    ViewData["Title"] = "Index";
}

<h1>PERSONAS</h1>
<p>Aquí podrás ver los datos de las personas.</p>
<p>Si tienes una nueva persona que desea reservar, utiliza el botón de 'Nueva Persona'.</p>
<p>
    <a asp-action="Create" class="btn btn-primary">Nueva Persona</a>
    &nbsp;&nbsp;
</p>

<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FotoDni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
                <td>
                    <img src="~/images/@item.FotoDni"
                         class="rounded-start"
                         height="150" width="150"
                         asp-append-version="true" />           
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
